@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


:root {
    --plomo-claro: hsl(210, 9%, 70%);
    --rojo-claro: hsl(6, 78%, 57%);
    --verde-claro: hsl(145, 61%, 90%);
    --verde-oscuro: hsl(168, 76%, 23%);
    --celeste: hsl(199, 92%, 56%);
    --anaranjado: hsl(14, 100%, 57%);
    --marron-claro: hsl(15, 15%, 69%);
    --blanco-plomo: hsl(0, 0%, 93%);
    --plomo-gris: hsl(0, 0%, 26%);
    --amarillo-brillante: hsl(75, 100%, 60%);
    --naranja-brillante: hsl(40, 100%, 70%);
    --rojo-brillante: hsl(0, 100%, 50%);
    --verde-brillante: hsl(60, 100%, 30%);
    --verde-claro-brillante: hsl(160, 100%, 70%);
    --verde-brillante-oscuro: hsl(108, 100%, 50%);
    --azul-brillante: hsl(240, 100%, 40%);
    --violeta-oscuro: hsl(270, 100%, 20%);

}


body {

    margin: 0;
    padding: 0;
    font-size: 63.3%;
    background: var(--verde-claro);
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: border-box;

}

.container {
    font-size: 1.7em;
    color: var(--marron-claro);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbar {
    display: flex;
}

.navbar-boton {
    font-size: 1.7em;
    margin: 20px;
    border: none;
    background-color: var(--marron-claro);
    color: var(--rojo-brillante);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.requisitosMin {
    margin: 40px auto;

}


.invalid {
    color: #d9534f;
    font-weight: bold;
}

.valid {
    color: #5cb85c;
    font-weight: bold;
}

.valid:after {
    padding-left: 25px;
    content: '\2713';
    font-weight: bolder;
}

.client-list {

    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    align-items: center;
    margin-top: 30px;
}

.client-list a {

    text-decoration: none;


}


.client-list .list-link {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}

.client-list .list-link:hover {

    color: var(--verde-oscuro);
}

.client-list nav a {
    text-decoration: none;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    color: inherit;
    width: 70%;
}


.client-list nav .active {
    color: var(--azul-brillante)
}

.formulario-req-form {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    min-height: 100vh;

}

.formulario {
    transform: scale(1.1, 1.1);
    border: var(--verde-oscuro) 2px solid;
    width: 90%;
    font-size: 1.3em;
    font-weight: bold;
    margin: auto;

}


.formulario form {

    display: flex;
    flex-direction: column;
    color: var(--violeta-oscuro);
    gap: 4px;
}

.formulario form label {
    text-align: center;
}

.formulario input {
    margin-bottom: 10px;
    border: var(--violeta-oscuro) 2px solid;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    display: block;
    margin: auto;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.7em;

}

.formulario button {
    width: 30%;
    border: none;
    border-radius: 5px;
    background: var(--azul-brillante);
    color: white;
    opacity: 0.4;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    margin: 30px auto;
}

.table-list {
    font-size: 1.5em;
    margin: 70px auto;
    text-align: center;
}


.table-list thead {
    background-color: var(--marron-claro);
    color: white;
}

.table-list tbody tr:hover {
    background-color: var(--verde-oscuro);
}


.table-list th,
td {
    border: var(--plomo-gris) 2px solid;
}

#zero-state {
    margin: 2rem auto;
    text-align: center;
    color: #818181;
}

#zero-state a {
    color: inherit;
}

#zero-state a:hover {
    color: #121212;
}

#zero-state:before {
    display: block;
    margin-bottom: 0.5rem;
    content: url("https://media4.giphy.com/media/iddm3qLpC8x3djZDSm/200.webp?cid=ecf05e47ybbt51wo5x36hmpzpo878vu0aa41va59payplxng&ep=v1_gifs_search&rid=200.webp&ct=g");
}

.login-form {

    display: grid;
    place-content: center;
    min-height: 100vh;
}

.login-form input,
button {
    padding: 5px;
    text-align: center;
}

/** MEDIAQUERY */

@media screen and (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        font-size: 0.8em;
    }

    .client-list {

        font-size: 0.9em;
    }

    .formulario-req-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

    }

    .formulario input {
        transform: scale(1, 1);
        width: 70%;
    }

    .formulario-req-form input {

        min-width: 1%;

    }

    .requisitosMin {

        font-size: 0.9em;
    }

    .table-list {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

}


@media screen and (max-width: 760px) {

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .formulario input {

        display: flex;
        width: auto;
    }

    .requisitosMin {

        font-size: 0.7em;
        text-align: center;

    }

    .formulario button {
        width: auto;
    }

    .formulario input {
        transform: scale(1, 1);
        width: 80%;
    }

    .formulario button {
        width: auto;
    }


}


@media screen and (max-width: 570px) {

    .container {
        width: 100%;

    }

    .requisitosMin {

        font-size: 0.5em;
    }

    .requisitosMin li {

        list-style: none;
    }

    .formulario button {
        width: auto;
    }

    .formulario input {
        transform: scale(1, 1);
        width: 90%;
    }


}